.loginSignUpContainer{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: OrbitronRegular, sans-serif;
}

button.MuiButtonBase-root {
    font-family: OrbitronRegular, sans-serif;
}

.MuiInputBase-input-MuiOutlinedInput-input{
    font-family: OrbitronRegular, sans-serif;
}