.header__container {
  background: rgb(233, 13, 13);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: auto;
}

.logo__container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__container>h1 {
  font-family: Arcade, sans-serif;
  color: white;
  margin: 0;
}

.logo>img {
  height: 20px;

}

.nav-header>ul {
  display: flex;
  gap: 10px;
}

.nav-header>ul>li {
  list-style-type: none;
  font-family: OrbitronMedium;
}

.nav-header__link {
  color: white;
  text-decoration: none;
}