.radialBackground {
  background-size: 40px 40px;
  background: radial-gradient(circle at center, #2e0477, #1d1d1b);
  font-family: OrbitronRegular;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.generalText {
  font-family: OrbitronRegular;
  color: white;
  font-size: 20px;
}
